name: Publish ua-parser builtins

run-name: Publish ${{ inputs.tag || 'master' }} to ${{ inputs.environment || 'pypy (scheduled)' }}

on:
  schedule:
    # schedule a dev release on every 1st of the month, at 2034 UTC
    - cron: "34 20 1 * *"
  workflow_dispatch:
    inputs:
      tag:
        description: "uap-core ref to release"
        type: string
      environment:
        description: "environment to release for (testpypy or pypy)"
        type: environment
        required: true

jobs:
  build:
    name: Build distribution
    runs-on: ubuntu-latest
    outputs:
      release: ${{ steps.check.outputs.release }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Check necessity of release
      id: check
      env:
        PYPI: ${{ github.event.inputs.environment }}
        REF: ${{ inputs.tag || 'HEAD' }}
      run: |
        case $PYPI in
            pypi)
                DOMAIN=pypi.org
                ;;
            testpypi)
                DOMAIN=test.pypi.org
                ;;
            *)
                exit 1
        esac

        RELREV=$(python scripts/relrev.py --domain "$DOMAIN")
        VERSION=$(date +%Y%m)
        CURREV=$(python scripts/tagcore.py --ref $REF --version $VERSION)

        if [ -n "$CURREV" -a "$RELREV" = "$CURREV" ]
        then
            echo "current rev matches latest release, skip new release"
        else
            echo release=true >> $GITHUB_OUTPUT
        fi
    - name: Install pypa/build
      if: ${{ steps.check.outputs.release == 'true' }}
      run: python3 -m pip install build --user
    - name: Build wheel
      if: ${{ steps.check.outputs.release == 'true' }}
      run: |
        python3 -m build -w ua-parser-builtins
        mv ua-parser-builtins/dist .
    - name: Store the distribution packages
      if: ${{ steps.check.outputs.release == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: python-package-distributions
        path: dist/

  publish-to-testpypi:
    name: Publish to TestPyPI
    needs: build
    if: ${{ github.event.inputs.environment == 'testpypi' && needs.build.outputs.release == 'true' }}
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/ua-parser-builtins

    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        skip-existing: true
        verbose: true

  publish-to-pypi:
    name: publish
    needs: build
    if: ${{ (github.event_name == 'schedule' || github.event.inputs.environment == 'pypi') && needs.build.outputs.release == 'true' }}
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/ua-parser-builtins
    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true
